@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.inputArea{
  position: relative;
  margin: 100px auto;
  max-width: 20%;
  background: rgb(179, 68, 68);
  padding: 50px;
  text-align: center;
  height: 60%;
  left: -17.5%;
  right: 0%;
  bottom: -14.63%;
  box-shadow: 0px 10px 50px 20px rgba(0, 0, 0, 0.6);
  }

.outputArea{
  position: absolute;
  margin: 100px auto;
  max-width: 35%;
  background: rgb(179, 68, 68);
  padding: 50px;
  text-align: center;
  height: 60%;
  left: 20%;
  right: 0%;
  bottom: 10%;
  box-shadow: 20px 10px 50px 20px rgba(0, 0, 0, 0.6);
}

.countryText{
    position: relative;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;  
}

.cityText{
    position: relative;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;  
}

.centreText{
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
}

.countrySelect{
    position: relative;
    font-family: 'Roboto';
    font-size: 30px;
    width: 400px;
    }

.submit{
    position: absolute;
    top: 85%;
    left: 30%;
    height: 70px;
    width: 200px;
    font-family: 'Roboto';
    font-size: 25px;
    background: green;
    color: white;
}

input{
    position: relative;
    font-family: 'Roboto';
    font-size: 30px;
    width: 400px;
    color: black;
}

.button{
    position: absolute;
    top: 95%;
    left: 47.5%;
}

.weatherOutput{
    position: static;
    z-index: 1;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    color: rgb(26, 24, 24);
}

.weatherData{
    color: black;
}

.outputError{
    position: absolute;
    bottom: 40%;
    right: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
}


